Django
djangorestframework
django-filter
django-stubs
drf-spectacular
djangorestframework-simplejwt
django-simple-history
pillow
python-magic
pytest
pytest-django
model-bakery
black
isort
flake8
mypy
lint
drf-nested-routers